
/*--- Enchilada Styles ---*/

html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;

}

form {
font-size: 19px !important;
font-weight: 600 !important;
}

.mktoForm {
margin:0 auto;
padding-top: 50px;
width: 800px !important;
}

.mktoForm .mktoFormCol {
width: 100%;
}

.mktoForm .mktoFieldWrap {
width: 100%;
}

.mktoForm .mktoLabel {
width: 100% !important;
margin-bottom: 14px !important;
}

.mktoForm .mktoField {
  width: 100% !important;
}

input {

border-top: 0 !important;
border-left: 0 !important;
border-right: 0 !important;
border-bottom: 1px solid #eee !important;
padding-left: 0 !important;
width: 100% !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #d1d1d1;
font-weight: 400;
font-size: 19px;
}

::-moz-placeholder { /* Firefox 19+ */
color: #d1d1d1;
font-weight: 400;
font-size: 19px;
}

:-ms-input-placeholder { /* IE 10+ */
color: #d1d1d1;
font-weight: 400;
font-size: 19px;
}

:-moz-placeholder { /* Firefox 18- */
color: #d1d1d1;
font-weight: 400;
font-size: 19px;
}

input:focus { 
outline: none !important;
color: #717171;
font-weight: 400 !important;
font-size: 19px;
}

select, input[type="color" i][list] {
background: #fff !important;
color: #717171;
font-weight: 400 !important;
font-size: 19px !important;
border-top: none !important;
border-left: none !important;
border-right: none !important;
border-bottom: 1px solid #eee !important;



}

select, input {
height: 29px;

}

select:focus {
outline: none !important;
}

.mktoButtonWrap {
margin-left: 0 !important;
}

.mktoButtonRow {
margin-top: 40px !important;
}

.mktoForm .mktoGutter {
display: none !important;
}

.mktoForm button.mktoButton {
padding: 12px 24px;
border: 1px solid transparent;
border-radius: 3px;
background-color: #cf142b;
color: #fff;
line-height: 1.2;
text-align: center;
text-decoration: none;
cursor: pointer;
-webkit-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-appearance: none;
font-weight: 600 !important;				  
}			

@media only screen and (max-width: 500px) {
.mktoForm {
  width: 100% !important;
}

.mktoForm .mktoLabel {
  padding-top: 1em;
}
}  

/* Add your custom CSS below */
@charset "UTF-8";
/*! reset - based off YUI with some customisation */
html {
  background-color: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

/*! custom switch resets */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type="text"]::-ms-reveal, input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
}

iframe {
  width: 100%;
  border: 0;
}

video {
  width: 100%;
}

/*! variables */
/*! mixins */
/*! animations */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-grow {
  0% {
    -webkit-transform: scale3d(0.618, 0.618, 1);
    transform: scale3d(0.618, 0.618, 1);
  }
  25%,
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1.15, 1.4, 1);
    transform: scale3d(1.15, 1.4, 1);
    opacity: 0;
  }
}

@keyframes fade-in-grow {
  0% {
    -webkit-transform: scale3d(0.618, 0.618, 1);
    transform: scale3d(0.618, 0.618, 1);
  }
  25%,
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale3d(1.15, 1.4, 1);
    transform: scale3d(1.15, 1.4, 1);
    opacity: 0;
  }
}

/*! typography */
body {
  color: #717171;
  font-family: frutiger, "frutiger linotype", univers, calibri, "gill sans", "gill sans mt", "myriad pro", myriad, "dejavu sans condensed", "liberation sans", "nimbus sans l", tahoma, geneva, "helvetica neue", helvetica, arial, sans-serif;
}

::-moz-selection {
  background: #cf142b;
  color: #fff;
}

::selection {
  background: #cf142b;
  color: #fff;
}

strong {
  font-weight: bold;
}

html {
  font-size: 100%;
  line-height: 1.5;
}

a {
  color: #cf142b;
}

a:focus, a:hover, a:active {
  color: #333;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin: 0 0 1.5rem;
  color: #333;
  font-weight: bold;
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}

h6,
.h6 {
  font-size: 1rem;
  line-height: 1.2;
}

h5,
.h5 {
  font-size: 1.125rem;
  line-height: 1.2;
}

h4,
.h4 {
  font-size: 1.25rem;
  line-height: 1.2;
}

h3,
.h3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 2rem;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

p {
  margin-bottom: 0.75rem;
}

ol,
ul,
dl {
  margin-bottom: 0.75rem;
}

/*! utility classes */
.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.hidden {
  display: none !important;
}

@media (max-width: 320px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-desktop {
    display: none !important;
  }
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

@media (max-width: 767px) {
  .sr-only--mobile {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
}

@media (max-width: 959px) {
  .sr-only--tablet {
    position: absolute !important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
}

.is-dragging {
  pointer-events: none;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.clear {
  clear: both !important;
}

.clear-left {
  clear: left !important;
}

.clear-right {
  clear: right !important;
}

.border {
  border: 1px solid #e8e8e8 !important;
}

.border-none {
  border: 0 !important;
}

.border-top {
  border-top: 1px solid #e8e8e8 !important;
}

.border-bottom {
  border-bottom: 1px solid #e8e8e8 !important;
}

.border-top-none {
  border-top: none !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

.colour--white {
  color: #fff !important;
}

.colour--white-light {
  color: #fcfcfc !important;
}

.colour--white-dark {
  color: #f3f3f3 !important;
}

.colour--grey-darker {
  color: #333 !important;
}

.colour--black {
  color: #000 !important;
}

.bg--white {
  background-color: #fff !important;
}

.bg--white-light {
  background-color: #fcfcfc !important;
}

.bg--white-dark {
  background-color: #f3f3f3 !important;
}

.bg--grey-darker {
  background-color: #333 !important;
}

.bg--grey-lightest {
  background-color: #e8e8e8 !important;
}

.bg--black {
  background-color: #000 !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.font-weight-thin {
  font-weight: 100 !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-black {
  font-weight: 900 !important;
}

.text-xsmall {
  font-size: 75%;
}

small,
.text-small {
  font-size: 87.5%;
}

.text-large {
  font-size: 112.5%;
}

.text-xlarge {
  font-size: 125%;
}

.word-wrap {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.disclaimer {
  color: #b1b1b1;
}

.colour--red {
  color: #cf142b !important;
}

.colour--clear-pink {
  color: #ee9193 !important;
}

.colour--clear-mango {
  color: #f8bf56 !important;
}

.colour--clear-green {
  color: #b7d24e !important;
}

.colour--clear-turquoise {
  color: #4bbdcd !important;
}

.colour--clear-blue {
  color: #74bde7 !important;
}

.colour--dull-pink {
  color: #e36d76 !important;
}

.colour--dull-mango {
  color: #c5a983 !important;
}

.colour--dull-green {
  color: #759b6b !important;
}

.colour--dull-turquoise {
  color: #38958e !important;
}

.colour--dull-blue {
  color: #4e92ab !important;
}

.colour--pastel-pink {
  color: #f8ccc9 !important;
}

.colour--pastel-mango {
  color: #fde0aa !important;
}

.colour--pastel-green {
  color: #d7ddb1 !important;
}

.colour--pastel-turquoise {
  color: #b5dfe8 !important;
}

.colour--pastel-blue {
  color: #c1def5 !important;
}

.bg--red {
  background-color: #cf142b !important;
}

.bg--clear-pink {
  background-color: #ee9193 !important;
}

.bg--clear-mango {
  background-color: #f8bf56 !important;
}

.bg--clear-green {
  background-color: #b7d24e !important;
}

.bg--clear-turquoise {
  background-color: #4bbdcd !important;
}

.bg--clear-blue {
  background-color: #74bde7 !important;
}

.bg--dull-pink {
  background-color: #e36d76 !important;
}

.bg--dull-mango {
  background-color: #c5a983 !important;
}

.bg--dull-green {
  background-color: #759b6b !important;
}

.bg--dull-turquoise {
  background-color: #38958e !important;
}

.bg--dull-blue {
  background-color: #4e92ab !important;
}

.bg--pastel-pink {
  background-color: #f8ccc9 !important;
}

.bg--pastel-mango {
  background-color: #fde0aa !important;
}

.bg--pastel-green {
  background-color: #d7ddb1 !important;
}

.bg--pastel-turquoise {
  background-color: #b5dfe8 !important;
}

.bg--pastel-blue {
  background-color: #c1def5 !important;
}

.action--black.btn {
  background-color: #333;
}

.action--black.btn:after {
  background-color: rgba(51, 51, 51, 0.3);
}

a:focus .action--black.btn,
a:hover .action--black.btn,
button:focus .action--black.btn,
button:hover .action--black.btn, .action--black.btn:focus, .action--black.btn:hover {
  background-color: #1a1a1a;
}

.action--black.btn-ghost {
  border-color: #666;
  color: #333;
}

.action--black.btn-ghost:after {
  border-color: rgba(102, 102, 102, 0.3);
}

a:focus .action--black.btn-ghost,
a:hover .action--black.btn-ghost,
button:focus .action--black.btn-ghost,
button:hover .action--black.btn-ghost, .action--black.btn-ghost:focus, .action--black.btn-ghost:hover {
  color: #333;
}

.action--black.cta {
  color: #333;
}

.action--black.cta:focus, .action--black.cta:hover {
  color: #1a1a1a;
}

.action--dark-grey.btn {
  background-color: #717171;
}

.action--dark-grey.btn:after {
  background-color: rgba(113, 113, 113, 0.3);
}

a:focus .action--dark-grey.btn,
a:hover .action--dark-grey.btn,
button:focus .action--dark-grey.btn,
button:hover .action--dark-grey.btn, .action--dark-grey.btn:focus, .action--dark-grey.btn:hover {
  background-color: #585858;
}

.action--dark-grey.btn-ghost {
  border-color: #717171;
  color: #717171;
}

.action--dark-grey.btn-ghost:after {
  border-color: rgba(113, 113, 113, 0.3);
}

a:focus .action--dark-grey.btn-ghost,
a:hover .action--dark-grey.btn-ghost,
button:focus .action--dark-grey.btn-ghost,
button:hover .action--dark-grey.btn-ghost, .action--dark-grey.btn-ghost:focus, .action--dark-grey.btn-ghost:hover {
  color: #717171;
}

.action--dark-grey.cta {
  color: #717171;
}

.action--dark-grey.cta:focus, .action--dark-grey.cta:hover {
  color: #585858;
}

.action--white.btn {
  background-color: #fff;
}

.action--white.btn:after {
  background-color: rgba(255, 255, 255, 0.3);
}

a:focus .action--white.btn,
a:hover .action--white.btn,
button:focus .action--white.btn,
button:hover .action--white.btn, .action--white.btn:focus, .action--white.btn:hover {
  background-color: #e6e6e6;
}

.action--white.btn-ghost {
  border-color: #fff;
  color: #fff;
}

.action--white.btn-ghost:after {
  border-color: rgba(102, 102, 102, 0.3);
}

a:focus .action--white.btn-ghost,
a:hover .action--white.btn-ghost,
button:focus .action--white.btn-ghost,
button:hover .action--white.btn-ghost, .action--white.btn-ghost:focus, .action--white.btn-ghost:hover {
  color: #fff;
}

.action--white.cta {
  color: #fff;
}

.action--white.cta:focus, .action--white.cta:hover {
  opacity: 0.8;
}

.action--red.btn {
  background-color: #cf142b;
}

a:focus .action--red.btn,
a:hover .action--red.btn,
button:focus .action--red.btn,
button:hover .action--red.btn, .action--red.btn:focus, .action--red.btn:hover {
  background-color: #890d1d;
}

.action--red.btn-ghost {
  border-color: #cf142b;
  color: #cf142b;
}

a:focus .action--red.btn-ghost,
a:hover .action--red.btn-ghost,
button:focus .action--red.btn-ghost,
button:hover .action--red.btn-ghost, .action--red.btn-ghost:focus, .action--red.btn-ghost:hover {
  color: #cf142b;
}

.action--red.cta {
  color: #cf142b;
}

.action--red.cta:focus, .action--red.cta:hover {
  color: #cf142b;
}

.action--pink.btn {
  background-color: #ee9193;
}

.action--pink.btn:after {
  background-color: rgba(238, 145, 147, 0.3);
}

a:focus .action--pink.btn,
a:hover .action--pink.btn,
button:focus .action--pink.btn,
button:hover .action--pink.btn, .action--pink.btn:focus, .action--pink.btn:hover {
  background-color: #e76568;
}

.action--pink.btn-ghost {
  border-color: #ee9193;
  color: #ee9193;
}

.action--pink.btn-ghost:after {
  border-color: rgba(238, 145, 147, 0.3);
}

a:focus .action--pink.btn-ghost,
a:hover .action--pink.btn-ghost,
button:focus .action--pink.btn-ghost,
button:hover .action--pink.btn-ghost, .action--pink.btn-ghost:focus, .action--pink.btn-ghost:hover {
  color: #ee9193;
}

.action--pink.cta {
  color: #ee9193;
}

.action--pink.cta:focus, .action--pink.cta:hover {
  color: #e76568;
}

.action--mango.btn {
  background-color: #f8bf56;
}

.action--mango.btn:after {
  background-color: rgba(248, 191, 86, 0.3);
}

a:focus .action--mango.btn,
a:hover .action--mango.btn,
button:focus .action--mango.btn,
button:hover .action--mango.btn, .action--mango.btn:focus, .action--mango.btn:hover {
  background-color: #f6ac25;
}

.action--mango.btn-ghost {
  border-color: #f8bf56;
  color: #f8bf56;
}

.action--mango.btn-ghost:after {
  border-color: rgba(248, 191, 86, 0.3);
}

a:focus .action--mango.btn-ghost,
a:hover .action--mango.btn-ghost,
button:focus .action--mango.btn-ghost,
button:hover .action--mango.btn-ghost, .action--mango.btn-ghost:focus, .action--mango.btn-ghost:hover {
  color: #f8bf56;
}

.action--mango.cta {
  color: #f8bf56;
}

.action--mango.cta:focus, .action--mango.cta:hover {
  color: #f6ac25;
}

.action--green.btn {
  background-color: #b7d24e;
}

.action--green.btn:after {
  background-color: rgba(183, 210, 78, 0.3);
}

a:focus .action--green.btn,
a:hover .action--green.btn,
button:focus .action--green.btn,
button:hover .action--green.btn, .action--green.btn:focus, .action--green.btn:hover {
  background-color: #a0bd30;
}

.action--green.btn-ghost {
  border-color: #b7d24e;
  color: #b7d24e;
}

.action--green.btn-ghost:after {
  border-color: rgba(183, 210, 78, 0.3);
}

a:focus .action--green.btn-ghost,
a:hover .action--green.btn-ghost,
button:focus .action--green.btn-ghost,
button:hover .action--green.btn-ghost, .action--green.btn-ghost:focus, .action--green.btn-ghost:hover {
  color: #b7d24e;
}

.action--green.cta {
  color: #b7d24e;
}

.action--green.cta:focus, .action--green.cta:hover {
  color: #a0bd30;
}

.action--turquoise.btn {
  background-color: #4bbdcd;
}

.action--turquoise.btn:after {
  background-color: rgba(75, 189, 205, 0.3);
}

a:focus .action--turquoise.btn,
a:hover .action--turquoise.btn,
button:focus .action--turquoise.btn,
button:hover .action--turquoise.btn, .action--turquoise.btn:focus, .action--turquoise.btn:hover {
  background-color: #32a3b3;
}

.action--turquoise.btn-ghost {
  border-color: #4bbdcd;
  color: #4bbdcd;
}

.action--turquoise.btn-ghost:after {
  border-color: rgba(75, 189, 205, 0.3);
}

a:focus .action--turquoise.btn-ghost,
a:hover .action--turquoise.btn-ghost,
button:focus .action--turquoise.btn-ghost,
button:hover .action--turquoise.btn-ghost, .action--turquoise.btn-ghost:focus, .action--turquoise.btn-ghost:hover {
  color: #4bbdcd;
}

.action--turquoise.cta {
  color: #4bbdcd;
}

.action--turquoise.cta:focus, .action--turquoise.cta:hover {
  color: #32a3b3;
}

.action--blue.btn {
  background-color: #74bde7;
}

.action--blue.btn:after {
  background-color: rgba(116, 189, 231, 0.3);
}

a:focus .action--blue.btn,
a:hover .action--blue.btn,
button:focus .action--blue.btn,
button:hover .action--blue.btn, .action--blue.btn:focus, .action--blue.btn:hover {
  background-color: #49a8df;
}

.action--blue.btn-ghost {
  border-color: #74bde7;
  color: #74bde7;
}

.action--blue.btn-ghost:after {
  border-color: rgba(116, 189, 231, 0.3);
}

a:focus .action--blue.btn-ghost,
a:hover .action--blue.btn-ghost,
button:focus .action--blue.btn-ghost,
button:hover .action--blue.btn-ghost, .action--blue.btn-ghost:focus, .action--blue.btn-ghost:hover {
  color: #74bde7;
}

.action--blue.cta {
  color: #74bde7;
}

.action--blue.cta:focus, .action--blue.cta:hover {
  color: #49a8df;
}

/* variable overrides */
/*
 * overrides for vendor variables
 *
 * for this to work, variables defined in vendors scss' need to have !default on the end of them
 * other overrides that aren't variables should go into [_overrides.scss]
 *
 */
/*======================================
  Selectric v1.13.0
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: 1px solid #DDD;
  border-radius: 0px;
  background: #F8F8F8;
  position: relative;
  overflow: hidden;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 10px;
  font-size: 12px;
  line-height: 38px;
  color: #444;
  height: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #F8f8f8;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;
}

.selectric-focus .selectric {
  border-color: #aaaaaa;
}

.selectric-hover .selectric {
  border-color: #c4c4c4;
}

.selectric-hover .selectric .button {
  color: #a2a2a2;
}

.selectric-hover .selectric .button:after {
  border-top-color: #a2a2a2;
}

.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
  border-color: #c4c4c4;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F8;
  border: 1px solid #c4c4c4;
  z-index: -1;
  -webkit-box-shadow: 0 0 10px -6px;
  box-shadow: 0 0 10px -6px;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}

.selectric-items li {
  display: block;
  padding: 10px;
  color: #666;
  cursor: pointer;
}

.selectric-items li.selected {
  background: #E0E0E0;
  color: #444;
}

.selectric-items li.highlighted {
  background: #D0D0D0;
  color: #444;
}

.selectric-items li:hover {
  background: #D5D5D5;
  color: #444;
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}

/* overrides */
.ui-datepicker {
  display: none;
  width: 320px;
  padding: 12px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
  font-family: ricons !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 6px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: none;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
  left: 0;
}

.ui-datepicker .ui-datepicker-prev:before {
  content: "n$";
  left: 6px;
}

.ui-datepicker .ui-datepicker-next {
  right: 0;
}

.ui-datepicker .ui-datepicker-next:before {
  content: "n$";
  right: 6px;
}

.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
  color: #333;
  font-weight: bold;
}

.ui-datepicker .ui-datepicker-title select {
  margin: 1px 0;
  font-size: 1em;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}

.ui-datepicker table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  font-size: 0.9em;
}

.ui-datepicker th {
  padding: 0.7em 0.3em;
  border: 0;
  color: #333;
  font-weight: normal;
  text-align: center;
}

.ui-datepicker td {
  padding: 1px;
  border: 0;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  color: #717171;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
  background-color: #e8e8e8;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-active {
  background-color: #717171;
  color: #fff;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight {
  background-color: #e8e8e8;
  color: #717171;
}

.ui-datepicker .ui-datepicker-buttonpane {
  margin: 0.7em 0 0;
  padding: 0 0.2em;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  background-image: none;
}

.ui-datepicker .ui-datepicker-buttonpane button {
  width: auto;
  margin: 0.5em 0.2em 0.4em;
  padding: 0.2em 0.6em;
  float: right;
  overflow: visible;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

.lazyload,
.lazyloading {
  background: url("/-/media/Project/Ricoh/Knowledge/RicohTheme/images/fallbacks/spinner.svg?v=1826") no-repeat 50% 50% !important;
  background-size: 25% 25% !important;
}

.lazyloaded {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  opacity: 0;
}

.lazyloaded.lazyload--no-animation {
  -webkit-animation: none;
  animation: none;
  opacity: 1;
}

.ie .lazyloaded,
.ie-edge .lazyloaded {
  -webkit-animation: none;
  animation: none;
  opacity: 1 !important;
}

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 42px;
  height: 42px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
  border-radius: 0;
  background: transparent;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  will-change: opacity;
}

.flickity-prev-next-button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.flickity-prev-next-button:focus .arrow {
  fill: #cf142b;
}

.flickity-prev-next-button:hover, .flickity-prev-next-button:active {
  background-color: transparent;
  opacity: 1;
}

.flickity-prev-next-button:disabled {
  opacity: 0.1;
}

.flickity-prev-next-button.previous {
  left: 12px;
}

.flickity-prev-next-button.next {
  right: 12px;
}

.flickity-prev-next-button svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flickity-prev-next-button .arrow {
  fill: #fff;
}

.flickity-page-dots {
  bottom: 15px;
}

.flickity-page-dots .dot {
  margin: 0 3px;
  border: 2px solid #fff;
  background-color: transparent;
  opacity: 1;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.flickity-page-dots .dot:hover {
  background-color: #fff;
}

.flickity-page-dots .dot.is-selected {
  border-color: #cf142b;
  background-color: #cf142b;
}

.selectric {
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  background-color: transparent;
}

.selectric-open .selectric,
.selectric-hover .selectric {
  border-bottom-color: #e8e8e8;
}

.selectric .label {
  height: 36px;
  margin-left: 0;
  padding: 0;
  color: #717171;
  font-size: 1rem;
  font-weight: normal;
  line-height: 36px;
}

.selectric-btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.selectric-btn .ricon {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.selectric-open .selectric-btn .ricon {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.selectric-items {
  top: calc(100% + 24px);
  padding: 18px 0;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
}

.selectric-items:focus {
  outline: 0;
}

.selectric-items:before {
  position: absolute;
  top: -11px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  -webkit-transform: scaleX(1.5) rotate(45deg);
  transform: scaleX(1.5) rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  background: #f3f3f3;
  content: "";
}

.selectric-items li {
  padding: 6px 24px;
  color: #717171 !important;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.selectric-items li:focus, .selectric-items li:hover, .selectric-items li.highlighted {
  background-color: #e8e8e8;
  color: #333 !important;
}

.selectric-items li.disabled {
  color: #b1b1b1 !important;
}

.selectric-above .selectric-items {
  bottom: calc(100% + 24px);
}

.selectric-above .selectric-items:before {
  top: auto;
  bottom: -11px;
  border-top: 0;
  border-right: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: 0;
}

.noUi-target {
  border-radius: 3px;
  border-color: #e8e8e8;
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.noUi-target:before, .noUi-target:after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 36px;
  border: 1px solid #e8e8e8;
  background: #fff;
  content: "";
}

.noUi-target:before {
  left: -12px;
  border-right: 0;
  border-radius: 3px 0 0 3px;
}

.noUi-target:after {
  right: -12px;
  border-left: 0;
  border-radius: 0 3px 3px 0;
}

.noUi-connect {
  background: #e8e8e8;
  -webkit-box-shadow: inset 0 0 1px rgba(51, 51, 51, 0.45);
  box-shadow: inset 0 0 1px rgba(51, 51, 51, 0.45);
}

.noUi-horizontal {
  height: 12px;
}

.noUi-horizontal .noUi-handle {
  top: -8px;
  left: -12px;
  width: 24px;
  height: 24px;
  border-color: #e8e8e8;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.noUi-horizontal .noUi-handle:focus {
  border-color: #333;
  outline: 0;
}

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
  top: 8px;
  bottom: 6px;
  height: auto;
  background: #e8e8e8;
}

.noUi-horizontal .noUi-handle:before {
  right: 9px;
  left: auto;
}

.noUi-horizontal .noUi-handle:after {
  left: 9px;
}

@media screen and (min-width: 768px) {
  .noUI-target {
    background: 0;
  }
}

/*! site */
body {
  background-color: #fff;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

body.jsLoaded {
  opacity: 1;
}

.body--nav-open {
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 960px) {
  .body--nav-open {
    height: auto;
  }
}

.container-fluid {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
}

.container-fluid--full-width {
  max-width: none;
}

.container {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 12px;
  clear: both;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
}

.container:after {
  display: table;
  clear: both;
  content: "";
}

.container:after {
  content: " ";
  display: block;
  clear: both;
}

.container--no-padding {
  padding: 0;
}

.container--narrow {
  max-width: 834px;
}

.container-two-col {
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 12px;
  clear: both;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: width 0.1s ease-out;
  transition: width 0.1s ease-out;
}

.container-two-col:after {
  display: table;
  clear: both;
  content: "";
}

.container-two-col:after {
  content: " ";
  display: block;
  clear: both;
}

.container-two-col > .component-content:after {
  display: table;
  clear: both;
  content: "";
}

.container-two-col--fluid {
  max-width: 1920px;
  padding-right: 0;
  padding-left: 0;
}

.component--margin-small {
  margin-top: 24px;
  margin-bottom: 24px;
}

.component--margin-none {
  margin-top: 0;
  margin-bottom: 0;
}

.component__title {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 24px;
}

.component__subtitle {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .container-two-col .col-1 {
    width: 49.07339%;
    float: left;
    margin-right: 1.85322%;
  }
  .container-two-col .col-2 {
    width: 49.07339%;
    float: right;
    margin-right: 0;
  }
  .container-two-col--form .col-1 {
    width: 32.09785%;
    float: left;
    margin-right: 1.85322%;
    margin: 0 0 36px;
  }
  .container-two-col--form .col-2 {
    width: 66.04893%;
    float: right;
    margin-right: 0;
  }
  .component--margin-small {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .component--margin-none {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.browser-upgrade,
.noscript-container {
  position: relative;
  margin: 0;
  padding: 24px 18px;
  background: #a01021;
  color: #fff;
}

.browser-upgrade p,
.noscript-container p {
  margin: 0 0 6px;
}

.browser-upgrade p a,
.noscript-container p a {
  color: #fff;
  text-decoration: underline;
}

.browser-upgrade p a:hover,
.noscript-container p a:hover {
  text-decoration: none;
  opacity: 0.7;
}

@media screen and (min-width: 321px) {
  .browser-upgrade,
  .noscript-container {
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    text-align: center;
  }
}

@media screen and (min-width: 321px) {
  .noscript-container {
    position: fixed;
    top: auto;
    bottom: 0;
  }
}

/*! forms */
/*! variables */
/*! mixins */
/* variable overrides */
/*
 * overrides for vendor variables
 *
 * for this to work, variables defined in vendors scss' need to have !default on the end of them
 * other overrides that aren't variables should go into [_overrides.scss]
 *
 */
.form .row:after {
  display: table;
  clear: both;
  content: "";
}

.form label {
  display: block;
}

.form label:hover {
  cursor: pointer;
}

.form label:focus {
  outline: 0;
}

.form .form-control {
  width: 100%;
}

.form .form-control:focus, .form .form-control:invalid {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form select::-ms-expand {
  display: none;
}

.form select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form textarea {
  font-family: frutiger, "frutiger linotype", univers, calibri, "gill sans", "gill sans mt", "myriad pro", myriad, "dejavu sans condensed", "liberation sans", "nimbus sans l", tahoma, geneva, "helvetica neue", helvetica, arial, sans-serif;
  resize: vertical;
}

.form .required-field .control-label:after {
  color: #c9c9c9;
  font-weight: normal;
  content: "*";
  opacity: 0.85;
}

.form .required-field .form-control:-moz-ui-invalid:not(output) {
  box-shadow: none;
}

.form .required-field .form-control.validate:invalid:not(:focus) {
  border-bottom: 1px solid #cf142b;
}

.form .required-field .form-control.validate:valid {
  border-bottom: 1px solid #529e00;
}

.form--default {
  margin-right: -12px;
  margin-bottom: 24px;
  margin-left: -12px;
}

.form--default .form-group,
.form--default .form-submit-border {
  position: relative;
  margin: 0 12px 24px;
  clear: both;
}

.form--default .help-block {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 0;
  color: #cf142b;
  font-size: 12px;
  line-height: 12px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.form--default label {
  margin-bottom: 6px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
}

.form--default .form-control,
.form--default .selectric {
  height: 36px;
  margin-bottom: 6px;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #e8e8e8;
  border-left: none;
  background-color: #fff;
  color: #717171;
  font-size: 16px;
  line-height: 36px;
  -webkit-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

.form--default .form-control::-webkit-input-placeholder,
.form--default .selectric::-webkit-input-placeholder {
  color: #c9c9c9;
  font-weight: normal;
  opacity: 0.85;
}

.form--default .form-control::-moz-placeholder,
.form--default .selectric::-moz-placeholder {
  color: #c9c9c9;
  font-weight: normal;
  opacity: 0.85;
}

.form--default .form-control:-ms-input-placeholder,
.form--default .selectric:-ms-input-placeholder {
  color: #c9c9c9;
  font-weight: normal;
  opacity: 0.85;
}

.form--default .form-control:focus, .form--default .form-control:active,
.form--default .selectric:focus,
.form--default .selectric:active {
  border-color: #b2b2b2;
}

.form--default .form-control:focus:valid, .form--default .form-control:active:valid,
.form--default .selectric:focus:valid,
.form--default .selectric:active:valid {
  border-color: #529e00;
}

.form--default .form-control[disabled],
.form--default .selectric[disabled] {
  padding-left: 12px;
  border: 1px solid #f3f3f3;
  background-color: #f3f3f3;
}

.form--default .form-control[disabled]:hover,
.form--default .selectric[disabled]:hover {
  cursor: not-allowed;
}

.form--default .form-select {
  background: url("/-/media/Project/Ricoh/Knowledge/RicohTheme/images/form/arrow-down.svg");
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 18px auto;
}

.form--default .form-select:focus, .form--default .form-select:active {
  background-image: url("/-/media/Project/Ricoh/Knowledge/RicohTheme/images/form/arrow-up.svg");
}

.form--default .form-select:invalid {
  color: #717171;
}

.form--default .form-textarea {
  height: 108px;
  line-height: 1.3;
}

.form--default .form-group-check label,
.form--default .radio label,
.form--default .checkbox label {
  display: inline-block;
  position: relative;
  margin: 0;
  padding-top: 6px;
  color: #666;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.form--default .form-group-check label:focus,
.form--default .radio label:focus,
.form--default .checkbox label:focus {
  color: #000;
}

.form--default .form-group-check.form-group > label,
.form--default .radio.form-group > label,
.form--default .checkbox.form-group > label {
  font-weight: bold;
}

.form--default .form-group-check table,
.form--default .form-group-check tr,
.form--default .form-group-check td,
.form--default .radio table,
.form--default .radio tr,
.form--default .radio td,
.form--default .checkbox table,
.form--default .checkbox tr,
.form--default .checkbox td {
  display: block;
}

.form--default .form-group-check td,
.form--default .radio td,
.form--default .checkbox td {
  padding: 0 0 6px;
}

.form--default .form-group-check td:hover label,
.form--default .radio td:hover label,
.form--default .checkbox td:hover label {
  color: #333;
}

.form--default .form-group-check td input[type="radio"],
.form--default .form-group-check td input[type="checkbox"],
.form--default .radio td input[type="radio"],
.form--default .radio td input[type="checkbox"],
.form--default .checkbox td input[type="radio"],
.form--default .checkbox td input[type="checkbox"] {
  display: inline-block;
  margin: 0 3px 0 0;
}

.form--default .form-group-check td label,
.form--default .radio td label,
.form--default .checkbox td label {
  font-weight: normal;
}

.form--default .form-group-check ul,
.form--default .radio ul,
.form--default .checkbox ul {
  margin: 0;
  list-style: none;
}

.form--default .form-group-check ul input,
.form--default .radio ul input,
.form--default .checkbox ul input {
  position: absolute;
  top: 6px;
  left: 2px;
  clip: rect(0 0 0 0);
}

.form--default .form-group-check ul input:focus ~ .check,
.form--default .radio ul input:focus ~ .check,
.form--default .checkbox ul input:focus ~ .check {
  border-color: #333;
}

.form--default .form-group-check ul input:checked ~ .check,
.form--default .radio ul input:checked ~ .check,
.form--default .checkbox ul input:checked ~ .check {
  border-color: #cf142b;
}

.form--default .form-group-check ul input:checked:focus ~ .check,
.form--default .radio ul input:checked:focus ~ .check,
.form--default .checkbox ul input:checked:focus ~ .check {
  border-color: #333;
}

.form--default .form-group-check ul label,
.form--default .radio ul label,
.form--default .checkbox ul label {
  padding-left: 36px;
  font-weight: normal;
}

.form--default .form-group-check li,
.form--default .radio li,
.form--default .checkbox li {
  position: relative;
  margin: 0;
  padding: 0 0 6px;
}

.form--default .form-group-check li:hover label,
.form--default .radio li:hover label,
.form--default .checkbox li:hover label {
  color: #333;
}

.form--default .form-group-check li:last-of-type,
.form--default .radio li:last-of-type,
.form--default .checkbox li:last-of-type {
  padding-bottom: 0;
}

.form--default .form-group-check .check,
.form--default .radio .check,
.form--default .checkbox .check {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1.25rem;
  -webkit-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
}

.form--default .form-group-check .check:before,
.form--default .radio .check:before,
.form--default .checkbox .check:before {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  content: "";
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.form--default .radio > label {
  font-weight: normal;
}

.form--default .radio input[type="radio"]:checked ~ .check:before {
  border-color: #c9c9c9 !important;
  background-color: #cf142b;
}

.form--default .radio input[type="radio"]:checked:focus ~ .check:before {
  background-color: #333;
}

.form--default .radio .check {
  border-radius: 100%;
}

.form--default .checkbox > label {
  font-weight: normal;
}

.form--default .checkbox input[type="checkbox"]:checked ~ .check:before {
  font-family: ricons !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cf142b;
  content: "n$";
}

.form--default .checkbox input[type="checkbox"]:checked:focus ~ .check:before {
  color: #333;
}

.form--default .checkbox .check {
  border: 1px solid #c9c9c9;
  border-color: #c9c9c9;
}

.form--default .checkbox .check:before {
  top: 1px;
  left: 2px;
  width: 17px;
  height: 22px;
}

.form--default .btn {
  margin: 12px 0 0;
}

.form--default.sort-by, .form--default.banner-search__dropdown {
  margin: 0;
}

.form--default.sort-by .form-group, .form--default.banner-search__dropdown .form-group {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.form--default.sort-by .selectric {
  margin: 0;
  border-bottom: 1px solid #b2b2b2;
  background: transparent;
}

.product-quote .form--default {
  margin: 0;
}

.product-quote .form--default .form-group {
  margin: 0;
}

.product-quote .form--default .form-control {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .form--default .row {
    margin: 0 -12px;
  }
  .form--default .halfAvailableWidth {
    width: calc(50% - 24px);
    float: left;
    clear: none;
  }
  .form--default .thirdAvailableWidth {
    width: calc(33.333% - 24px);
    float: left;
    clear: none;
  }
  .form--default .input-group {
    width: auto !important;
    min-width: calc(33.333% - 24px);
    margin: 0 12px;
    float: left;
  }
}

.form .validation-summary-errors {
  display: none;
}

.form .has-error .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form .has-error .help-block {
  height: auto;
  opacity: 1;
}

/*! btn */
/*! variables */
/*! mixins */
/* variable overrides */
/*
 * overrides for vendor variables
 *
 * for this to work, variables defined in vendors scss' need to have !default on the end of them
 * other overrides that aren't variables should go into [_overrides.scss]
 *
 */
.btn,
.btn--input,
.btn--default {
  display: block;
  position: relative;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: #cf142b;
  color: #fff;
  font-size: 87.5%;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.btn:after,
.btn--input:after,
.btn--default:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 3px;
  background: rgba(207, 20, 43, 0.3);
  content: "";
  opacity: 0;
  pointer-events: none;
}

a:focus .btn,
a:hover .btn,
button:focus .btn,
button:hover .btn, .btn:focus, .btn:hover, a:focus
.btn--input,
a:hover
.btn--input,
button:focus
.btn--input,
button:hover
.btn--input,
.btn--input:focus,
.btn--input:hover, a:focus
.btn--default,
a:hover
.btn--default,
button:focus
.btn--default,
button:hover
.btn--default,
.btn--default:focus,
.btn--default:hover {
  outline: none;
  color: #fff;
}

.btn:active,
.btn--input:active,
.btn--default:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.btn .btn__input--default,
.btn--input .btn__input--default,
.btn--default .btn__input--default {
  position: relative;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
}

a:focus .btn .btn__input--default,
a:hover .btn .btn__input--default,
button:focus .btn .btn__input--default,
button:hover .btn .btn__input--default, .btn .btn__input--default:focus, .btn .btn__input--default:hover, a:focus
.btn--input .btn__input--default,
a:hover
.btn--input .btn__input--default,
button:focus
.btn--input .btn__input--default,
button:hover
.btn--input .btn__input--default,
.btn--input .btn__input--default:focus,
.btn--input .btn__input--default:hover, a:focus
.btn--default .btn__input--default,
a:hover
.btn--default .btn__input--default,
button:focus
.btn--default .btn__input--default,
button:hover
.btn--default .btn__input--default,
.btn--default .btn__input--default:focus,
.btn--default .btn__input--default:hover {
  outline: none;
  color: #fff;
}

a:active .btn .btn__input--default,
button:active .btn .btn__input--default, .btn .btn__input--default:active, a:active
.btn--input .btn__input--default,
button:active
.btn--input .btn__input--default,
.btn--input .btn__input--default:active, a:active
.btn--default .btn__input--default,
button:active
.btn--default .btn__input--default,
.btn--default .btn__input--default:active {
  top: 1px;
}

.cta + .btn, .cta +
.btn--input, .cta +
.btn--default {
  margin-left: 12px;
}

.btn + .btn,
.btn-ghost + .btn, .btn +
.btn--input,
.btn-ghost +
.btn--input, .btn +
.btn--default,
.btn-ghost +
.btn--default {
  margin-top: 6px;
}

.btn--clicked:after {
  -webkit-animation: fade-in-grow 0.3s forwards;
  animation: fade-in-grow 0.3s forwards;
}

.btn--disabled {
  background-color: rgba(178, 178, 178, 0.5);
  cursor: not-allowed;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .btn {
    display: inline-block;
    width: auto;
  }
  .btn + .btn,
  .btn-ghost + .btn {
    margin-top: 0;
  }
}

